*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inizio main */
body{
    background-color: black;
    color: white;
}
header{
    display: flex;
    justify-content: flex-end;
}
header button{
    margin: 5px;
    padding: 5px;
}
.galleria{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    justify-content: center;
}
.utente{
width:calc(100% / 6);
height: 150px;
border: 3px solid black;
position: relative;
}
.utente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nome{
    position: absolute;
    bottom: 0;
    left: 0;
}
main{
    height: calc(100vh - 150px);
}
/* fine main */

/* footer */

